In [ ]:
!pip install progressbar2

Requirement already satisfied: progressbar2 in /usr/local/lib/python3.6/dist-packages (3.38.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from progressbar2) (1.15.0)
Requirement already satisfied: python-utils>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from progressbar2) (2.4.0)

In [ ]:
import time
import progressbar
import pandas as pd
import numpy as np
from osgeo import ogr
from numba import jit, cuda

In [ ]:
!unzip /content/drive/MyDrive/WaterPollution/finalData.zip

Archive:  /content/drive/MyDrive/WaterPollution/finalData.zip
  inflating: finalData.csv

In [ ]:
MAIN_PATH = "/content/finalData.csv"
POPULATION_PATH = "/content/drive/MyDrive/WaterPollution/population_2018.csv"
PROTECTEDMARINES_PATH = "/content/drive/MyDrive/WaterPollution/protectedMarinesData.csv"
TOURISTDATA = "/content/drive/MyDrive/WaterPollution/touristData.csv"
MIGRATION_DATA = "/content/drive/MyDrive/WaterPollution/migrationData.csv"
CLIMATE_DATA = "/content/drive/MyDrive/WaterPollution/climateData.csv"
LITERACY_DATA = "/content/drive/MyDrive/WaterPollution/literacyRate.csv"
RENEWABLE_DATA = "/content/drive/MyDrive/WaterPollution/renewable.csv"
WASTE_DATA = "/content/drive/MyDrive/WaterPollution/wasteData.csv"
DATA100K_PATH = "/content/drive/MyDrive/WaterPollution/data100k.csv"

In [ ]:
main_df = pd.read_csv(MAIN_PATH)
populationData = pd.read_csv(POPULATION_PATH)
protectedMarinesData = pd.read_csv(PROTECTEDMARINES_PATH)
touristData = pd.read_csv(TOURISTDATA)
migrationData = pd.read_csv(MIGRATION_DATA)
climateData = pd.read_csv(CLIMATE_DATA)
literacyData = pd.read_csv(LITERACY_DATA)
renewableData = pd.read_csv(RENEWABLE_DATA)
wasteData = pd.read_csv(WASTE_DATA)

In [ ]:
a = pd.DataFrame((main_df.isna().sum() / main_df.shape[0])  * 100,columns=["naPercentage"]).reset_index()
a

                                   index  naPercentage
0               monitoringSiteIdentifier      0.000000
1       monitoringSiteIdentifierScheme_x      0.000000
2             parameterWaterBodyCategory      0.000000
3        observedPropertyDeterminandCode      0.000000
4              procedureAnalysedFraction      0.000000
5                 procedureAnalysedMedia      0.000000
6                              resultUom      0.000000
7            phenomenonTimeReferenceYear      0.000000
8                parameterSamplingPeriod      1.002799
9                      procedureLOQValue     50.268637
10                 resultNumberOfSamples      2.066275
11  resultQualityNumberOfSamplesBelowLOQ     61.800894
12          resultQualityMinimumBelowLOQ     49.057895
13                    resultMinimumValue      3.502774
14             resultQualityMeanBelowLOQ     49.152198
15                       resultMeanValue      0.223682
16          resultQualityMaximumBelowLOQ     49.017213
17                    resultMaximumValue      3.442235
18           resultQualityMedianBelowLOQ     71.111205
19                     resultMedianValue     42.880172
20          resultStandardDeviationValue     21.401532
21             procedureAnalyticalMethod     86.668634
22                  parameterSampleDepth     46.479704
23               resultObservationStatus     89.589993
24                               Remarks     70.047971
25                    metadata_versionId      0.000000
26         metadata_beginLifeSpanVersion      0.000000
27                   metadata_statusCode      0.000000
28            metadata_observationStatus      0.000000
29                   metadata_statements     96.545069
30                                   UID      0.000000
31                                 lon_x    100.000000
32                                 lat_x    100.000000
33      monitoringSiteIdentifierScheme_y      0.000000
34                   waterBodyIdentifier      3.593029
35             waterBodyIdentifierScheme      3.593029
36                 confidentialityStatus      0.000000
37                                 lon_y    100.000000
38                                 lat_y    100.000000
39                                   lon      0.000000
40                                   lat      0.000000

In [ ]:
def cleanData(main_df):
  main_df.drop(["procedureLOQValue","resultQualityNumberOfSamplesBelowLOQ","resultQualityMinimumBelowLOQ",
                "resultQualityMinimumBelowLOQ","resultQualityMeanBelowLOQ","resultQualityMedianBelowLOQ",
                "resultMedianValue","resultStandardDeviationValue","procedureAnalyticalMethod","parameterSampleDepth",
                "resultObservationStatus","Remarks","metadata_statements","lon_x","lat_x","lon_y","lat_y","resultQualityMaximumBelowLOQ"],axis=1,
              inplace = True)
  main_df.dropna(axis=0,inplace=True)
  main_df.drop(["monitoringSiteIdentifier","resultNumberOfSamples","resultMinimumValue","resultMaximumValue","metadata_versionId","metadata_beginLifeSpanVersion","metadata_statusCode",
              "metadata_observationStatus","UID","monitoringSiteIdentifierScheme_y","waterBodyIdentifierScheme","confidentialityStatus"],axis=1,inplace = True)

In [ ]:
cleanData(main_df)

In [ ]:
main_df.head()

  monitoringSiteIdentifierScheme_x  ...       lat
0             euMonitoringSiteCode  ...  46.98310
1             euMonitoringSiteCode  ...  43.67623
2             euMonitoringSiteCode  ...  43.67623
3             euMonitoringSiteCode  ...  43.65393
4         eionetMonitoringSiteCode  ...  43.61870

[5 rows x 12 columns]

# Concat Data by Country

In [ ]:
class Point(object):
    def __init__(self, lat, lng):
        self.point = ogr.Geometry(ogr.wkbPoint)
        self.point.AddPoint(lng, lat)
    
    def getOgr(self):
        return self.point
    ogr = property(getOgr)

class Country(object):
    def __init__(self, shape):
        self.shape = shape
    
    def getIso(self):
        return self.shape.GetField('ISO2')
    iso = property(getIso)
    
    def __str__(self):
        return self.shape.GetField('NAME')
    
    def contains(self, point):
        return self.shape.geometry().Contains(point.ogr)

class CountryChecker(object):
    
    def __init__(self, country_file):
        driver = ogr.GetDriverByName('ESRI Shapefile')
        self.countryFile = driver.Open(country_file)
        self.layer = self.countryFile.GetLayer()
    
    def getCountry(self, point):
        
        for i in range(self.layer.GetFeatureCount()):
            country = self.layer.GetFeature(i)
            if country.geometry().Contains(point.ogr):
                return Country(country)       
        return None

In [ ]:
!wget http://thematicmapping.org/downloads/TM_WORLD_BORDERS-0.3.zip
!unzip /content/TM_WORLD_BORDERS-0.3.zip

--2021-01-04 13:34:05--  http://thematicmapping.org/downloads/TM_WORLD_BORDERS-0.3.zip
Resolving thematicmapping.org (thematicmapping.org)... 67.20.120.230
Connecting to thematicmapping.org (thematicmapping.org)|67.20.120.230|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3464707 (3.3M) [application/zip]
Saving to: ‘TM_WORLD_BORDERS-0.3.zip’

TM_WORLD_BORDERS-0. 100%[===================>]   3.30M  6.50MB/s    in 0.5s

2021-01-04 13:34:06 (6.50 MB/s) - ‘TM_WORLD_BORDERS-0.3.zip’ saved [3464707/3464707]

Archive:  /content/TM_WORLD_BORDERS-0.3.zip
  inflating: Readme.txt
  inflating: TM_WORLD_BORDERS-0.3.dbf
  inflating: TM_WORLD_BORDERS-0.3.prj
  inflating: TM_WORLD_BORDERS-0.3.shp
  inflating: TM_WORLD_BORDERS-0.3.shx

In [ ]:
def getCountry(lat,lon,countryChecker = CountryChecker("/content/TM_WORLD_BORDERS-0.3.shp")):
  return str(countryChecker.getCountry(Point(lat,lon)))

In [ ]:
@jit
def fillCountry(main_df):
  main_df["Country"] = 0
  for i in progressbar.progressbar(range(main_df.shape[0])):
      lat, lon = main_df["lat"][i], main_df["lon"][i]
      main_df["Country"][i] = getCountry(lat,lon)

In [ ]:
main_df.reset_index(inplace= True)
new_data1 = main_df[:100000]

In [ ]:
fillCountry(new_data1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
N/A% (0 of 100000) |                     | Elapsed Time: 0:00:00 ETA:  --:--:--/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1009: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
100% (100000 of 100000) |################| Elapsed Time: 0:42:41 Time:  0:42:41

In [ ]:
new_data1["Country"].unique()

array(['France', 'Spain', 'United Kingdom', 'Lithuania', 'Portugal',
       'Austria', 'Bulgaria', 'Germany', 'Finland', 'Czech Republic',
       'Belgium', 'Denmark', 'None', 'Italy', 'Ireland', 'Sweden',
       'Romania', 'Serbia', 'Slovakia', 'Netherlands', 'Poland',
       'Luxembourg', 'Switzerland', 'Latvia', 'Ukraine', 'Norway',
       'Croatia', 'Belarus', 'Russia', 'Republic of Moldova', 'Slovenia',
       'Greece', 'Bosnia and Herzegovina', 'Hungary'], dtype=object)

In [ ]:
new_data1.to_csv("countryCsv.csv",index=False)

In [ ]:
print(5)

5

In [ ]:
populationData.head()

  Country Name Country Code        2018
0        Aruba          ABW  588.027778
1  Afghanistan          AFG   56.937760
2       Angola          AGO   24.713052
3      Albania          ALB  104.612263
4      Andorra          AND  163.842553

In [ ]:
datas = (populationData,protectedMarinesData,touristData,migrationData,climateData,literacyData,renewableData)

In [ ]:
for i in datas:
  i.rename(columns = {"Country Name":"Country"},inplace=True)
wasteData.rename(columns={"country_name":"Country"},inplace=True)

In [ ]:
touristData.head()

       Country Country Code  TouristMean_1990_2020
0        Aruba          ABW                 755057
1  Afghanistan          AFG                      0
2       Angola          AGO                 231346
3      Albania          ALB                1379653
4      Andorra          AND                1975269

In [ ]:
population = pd.merge(new_data1,populationData,how="left",on = ["Country"])
population.rename(columns = {"2018":"PopulationDensity"},inplace=True)

In [ ]:
marines = pd.merge(population,protectedMarinesData,how="left",on = ["Country"])

In [ ]:
allData = pd.merge(marines,touristData,how="left",on = ["Country"])
allData.head()

   level_0  index  ... Country Code TouristMean_1990_2020
0        0      0  ...          FRA            71176346.0
1        1      1  ...          FRA            71176346.0
2        2      2  ...          FRA            71176346.0
3        3      3  ...          FRA            71176346.0
4        4      4  ...          ESP            50941692.0

[5 rows x 21 columns]

In [ ]:
allData = pd.merge(allData,migrationData,how="left",on = ["Country"])
allData = pd.merge(allData,climateData,how="left",on = ["Country"])
allData = pd.merge(allData,literacyData,how="left",on = ["Country"])
allData = pd.merge(allData,renewableData,how="left",on = ["Country"])
allData = pd.merge(allData,wasteData,how="left",on = ["Country"])

In [ ]:
allData.columns

Index(['level_0', 'index', 'monitoringSiteIdentifierScheme_x',
       'parameterWaterBodyCategory', 'observedPropertyDeterminandCode',
       'procedureAnalysedFraction', 'procedureAnalysedMedia', 'resultUom',
       'phenomenonTimeReferenceYear', 'parameterSamplingPeriod',
       'resultMeanValue', 'waterBodyIdentifier', 'lon', 'lat', 'Country',
       'Country Code_x', 'PopulationDensity', 'Country Code_y',
       'TerraMarineProtected_2016_2018', 'Country Code',
       'TouristMean_1990_2020'],
      dtype='object')

In [ ]:
allData.drop(["Country Code_x","Country Code_y","Country Code","level_0","index"],axis = 1 ,inplace = True)

In [ ]:
allData.to_csv("data100k.csv",index=False)

# VENUES

In [ ]:
newData = pd.read_csv(DATA100K_PATH)

In [ ]:
from pandas.io.json import json_normalize
import pandas as pd
import requests

class FoursquareAPI():
	def __init__(self,lat, lon, limit = 100, radius = 500):
		self.lat = lat
		self.lon = lon
		self.limit = limit
		self.radius = radius
		self.clientID = "B3UDNS1NEH0N0J3SOUDKQM3GKQWSXLBCC33TXEI51KGSZJCP"
		self.clientSecret = "LTUFQKVIX1GRWZWXN31E5TLAIMJKFAOX14S0MMUANGQBGI3V"
		self.version = "20180604"
		self.queryResults = pd.DataFrame()
		self.status = 0

	def setParams(self,lat = None,lon = None,limit = None,radius = None):
		if lat != None:
			self.lat = lat
		if lon != None:
			self.lon = lon
		if limit != None:
			self.limit = limit
		if radius != None:
			self.radius = radius

	def get_category_type(self,row):
		try:
			categories_list = row['categories']
		except:
			categories_list = row['venue.categories']
			
		if len(categories_list) == 0:
			return None
		else:
			return categories_list[0]['name']

	def runQuery(self):
		url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(self.clientID, self.clientSecret, self.version, self.lat,self.lon,self.radius,self.limit)
		results = requests.get(url).json()
		try:
			venues = results['response']['groups'][0]['items']

              #flatten JSON, Normalize JSON to Dataframe
			dataframe = json_normalize(venues) 

              # filter columns,consider only required columns
              
			filtered_columns = ['venue.name', 'venue.categories'] + [col for col in dataframe.columns if col.startswith('venue.location.')] + ['venue.id']
			self.queryResults = dataframe.loc[:, filtered_columns]

                # filter the category for each row
			self.queryResults['venue.categories'] = self.queryResults.apply(self.get_category_type, axis=1)

                # clean columns
			self.queryResults.columns = [col.split('.')[-1] for col in self.queryResults.columns]
			self.status = 2
		except:
			self.status = 1

	def getVenuesTable(self):
		if self.status == 0:
			raise Exception("Run the query first. queryResults table is empty.")
		elif self.status == 1:
			raise Exception(f"Table is empty,there are not any venues in {self.radius} radius")
		else:
			return self.queryResults

	def getVenuesCount(self):
		if self.status == 0:
			raise Exception("Run the query first. queryResults table is empty.")		
		elif self.status == 1:
			return 0
		else:
			return self.queryResults.shape[0]
			

	def getParams(self):
		params = {"Latitude": self.lat,"Longtitude" : self.lon, "Radius": self.radius, "Place_limit": self.limit,
		"Client_id" : self.clientID, "Client_secret": self.clientSecret,"Version":self.version}
		return params

In [ ]:
subData = newData[:20000]

In [ ]:
def getVenueCount(main_df):
  main_df["VenueCount"] = np.nan
  api = FoursquareAPI(0,0,radius=1000)
  for i in progressbar.progressbar(range(main_df.shape[0])):
      api.setParams(lat = main_df["lat"][i],lon = main_df["lon"][i])
      api.runQuery()
      main_df["VenueCount"][i] = api.getVenuesCount()

In [ ]:
getVenueCount(subData)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

N/A% (0 of 20000) |                      | Elapsed Time: 0:00:00 ETA:  --:--:--/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
100% (20000 of 20000) |##################| Elapsed Time: 0:34:49 Time:  0:34:49

In [ ]:
subData.to_csv("dataWithVenues.csv",index = False)

#OSMNX

In [ ]:
!apt install python3-rtree
!pip install osmnx==0.16.2

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources
Suggested packages:
  python3-setuptools
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources python3-rtree
0 upgraded, 5 newly installed, 0 to remove and 16 not upgraded.
Need to get 671 kB of archives.
After this operation, 3,948 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-pkg-resources all 39.0.1-2 [98.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-rtree all 0.8.3+ds-1 [16.9 kB]
Fetched 671 kB in 1s (969 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 145483 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-pkg-resources.
Preparing to unpack .../python3-pkg-resources_39.0.1-2_all.deb ...
Unpacking python3-pkg-resources (39.0.1-2) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-rtree.
Preparing to unpack .../python3-rtree_0.8.3+ds-1_all.deb ...
Unpacking python3-rtree (0.8.3+ds-1) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up python3-pkg-resources (39.0.1-2) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up python3-rtree (0.8.3+ds-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting osmnx==0.16.2
  Downloading https://files.pythonhosted.org/packages/90/0d/b65138a596a674fca07257091573748a2f39b09344bea17a68f1a2899ee6/osmnx-0.16.2-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 6.2MB/s
Collecting requests>=2.24
  Downloading https://files.pythonhosted.org/packages/29/c1/24814557f1d22c56d50280771a17307e6bf87b70727d975fd6b2ce6b014a/requests-2.25.1-py2.py3-none-any.whl (61kB)
     |████████████████████████████████| 61kB 6.8MB/s
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.6/dist-packages (from osmnx==0.16.2) (2.5)
Collecting Rtree>=0.9
  Downloading https://files.pythonhosted.org/packages/1f/f4/0d893e8fa281d370c728dc42dc457f4f6128ea4a96a98442eb20755daee6/Rtree-0.9.7-cp36-cp36m-manylinux2010_x86_64.whl (994kB)
     |████████████████████████████████| 1.0MB 33.3MB/s
Requirement already satisfied: Shapely>=1.7 in /usr/local/lib/python3.6/dist-packages (from osmnx==0.16.2) (1.7.1)
Collecting matplotlib>=3.3
  Downloading https://files.pythonhosted.org/packages/d2/43/2bd63467490036697e7be71444fafc7b236923d614d4521979a200c6b559/matplotlib-3.3.3-cp36-cp36m-manylinux1_x86_64.whl (11.6MB)
     |████████████████████████████████| 11.6MB 260kB/s
Collecting geopandas>=0.8
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 39.3MB/s
Requirement already satisfied: descartes>=1.1 in /usr/local/lib/python3.6/dist-packages (from osmnx==0.16.2) (1.1.0)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.6/dist-packages (from osmnx==0.16.2) (1.19.4)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.6/dist-packages (from osmnx==0.16.2) (1.1.5)
Collecting pyproj>=2.6
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 40.5MB/s
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24->osmnx==0.16.2) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24->osmnx==0.16.2) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24->osmnx==0.16.2) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24->osmnx==0.16.2) (2020.12.5)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.5->osmnx==0.16.2) (4.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx==0.16.2) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx==0.16.2) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx==0.16.2) (7.0.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx==0.16.2) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.3->osmnx==0.16.2) (1.3.1)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/37/94/4910fd55246c1d963727b03885ead6ef1cd3748a465f7b0239ab25dfc9a3/Fiona-1.8.18-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 211kB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.1->osmnx==0.16.2) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=3.3->osmnx==0.16.2) (1.15.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx==0.16.2) (20.3.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas>=0.8->osmnx==0.16.2) (7.1.2)
ERROR: google-colab 1.0.0 has requirement requests~=2.23.0, but you'll have requests 2.25.1 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: requests, Rtree, matplotlib, click-plugins, cligj, munch, fiona, pyproj, geopandas, osmnx
  Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Found existing installation: Rtree 0.8.3
    Uninstalling Rtree-0.8.3:
      Successfully uninstalled Rtree-0.8.3
  Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
Successfully installed Rtree-0.9.7 click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.8.1 matplotlib-3.3.3 munch-2.5.0 osmnx-0.16.2 pyproj-3.0.0.post1 requests-2.25.1

In [ ]:
subData = pd.read_csv("dataWithVenues.csv")

In [ ]:
subData.head()

  monitoringSiteIdentifierScheme_x  ... VenueCount
0             euMonitoringSiteCode  ...        0.0
1             euMonitoringSiteCode  ...        0.0
2             euMonitoringSiteCode  ...        0.0
3             euMonitoringSiteCode  ...        2.0
4         eionetMonitoringSiteCode  ...        4.0

[5 rows x 17 columns]

In [ ]:
import osmnx as ox
import networkx as nx
import os
import matplotlib.colors as colors

In [ ]:
def get_distance(data, feature, road):
  if len(feature) == 0:
    lat = data['lat']
    lon = data['lon']
  else:
    lat = data.loc[feature,'lat']
    lon = data.loc[feature,'lon']
  dist = [ox.distance.get_nearest_edge(road, point=(x, y), return_dist=True) for x, y in zip(lat, lon)]
  return [x[3]*111139 for x in dist]

# Dummy

In [ ]:
@jit(nopython=True)
def findNearestRoad(coords):
  G = ox.graph_from_point(coords, dist=500, network_type='none',custom_filter='["highway"]')
  dist = ox.distance.get_nearest_edge(G, point=coords, return_dist=True)
  return dist[3]*111139

In [ ]:
@jit(nopython=True)
def getRoads(latList,lonList):
  deneme = np.zeros_like(latList)
  for i in range(latList.shape[0]):
      lat,lon =latList[i], lonList[i]
      deneme[i] = findNearestRoad((lat,lon))
  return deneme

In [ ]:
venues = pd.read_csv("/content/dataWithVenues.csv")

In [ ]:
venues.head()

  monitoringSiteIdentifierScheme_x  ... VenueCount
0             euMonitoringSiteCode  ...        0.0
1             euMonitoringSiteCode  ...        0.0
2             euMonitoringSiteCode  ...        0.0
3             euMonitoringSiteCode  ...        2.0
4         eionetMonitoringSiteCode  ...        4.0

[5 rows x 17 columns]

In [ ]:
wasteData.rename(columns={"country_name":"Country"},inplace=True)
venues = pd.merge(venues,migrationData,how="left",on = ["Country"])
venues = pd.merge(venues,climateData,how="left",on = ["Country"])
venues = pd.merge(venues,literacyData,how="left",on = ["Country"])
venues = pd.merge(venues,renewableData,how="left",on = ["Country"])
venues = pd.merge(venues,wasteData,how="left",on = ["Country"])

In [ ]:
venues.head()

  monitoringSiteIdentifierScheme_x  ... waste_treatment_recycling_percent
0             euMonitoringSiteCode  ...                             22.26
1             euMonitoringSiteCode  ...                             22.26
2             euMonitoringSiteCode  ...                             22.26
3             euMonitoringSiteCode  ...                             22.26
4         eionetMonitoringSiteCode  ...                             16.84

[5 rows x 32 columns]

In [ ]:
venues.drop(["monitoringSiteIdentifierScheme_x","lon","lat"],axis = 1,inplace=True)
venues.to_csv("waterPollution.csv",index=False)